.logo-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.logo-link .kimo-text,
.logo-link .grafico-text {
  transition: all 0.4s ease-in-out;
}

.logo-link:hover .kimo-text {
  fill: var(--color-accent);
}

.logo-link:hover .grafico-text {
  fill: var(--color-text);
}
